@model LegoTrainManager.Models.Train

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Train</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatteryVoltage" class="control-label"></label>
                <input asp-for="BatteryVoltage" class="form-control" />
                <span asp-validation-for="BatteryVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastConnectionTime" class="control-label"></label>
                <input asp-for="LastConnectionTime" class="form-control" />
                <span asp-validation-for="LastConnectionTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Online" /> @Html.DisplayNameFor(model => model.Online)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeviceType" class="control-label"></label>
                <select asp-for="DeviceType" class="form-control"></select>
                <span asp-validation-for="DeviceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
